@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 990px) {
	.wrap{
		width:700px;
		margin:0 auto;
	}

	
	
}




@media only screen and (min-width: 420px) and (max-width: 799px) {
	.wrap{
		margin:0 auto;
		width:100%;
		border:none !important;
	}

}





@media only screen and (max-width: 419px) {
	.wrap{
		margin:0 auto;
		width:100%;
		overflow:hidden;
		border:none !important;
	}

}




@media(-webkit-min-device-pixel-ratio: 2) {
	
}


